.reels-container:hover {
  border: 2px solid rgba(255, 255, 255, 0.664);
}
.reels-container {
  border: 2px solid black;
  transition: width 0.7s ease-in-out;
}
.reels-container img {
  box-shadow: 0px 0px 5px 1px black;
  display: block;
  width: 60%;
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .reels-container {
    width: 90% !important;
  }
  .reels-container:hover {
    border: 2px solid rgba(255, 255, 255, 0.664);
    width: 85% !important;
    height: 85% !important;
  }
}
